@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Press+Start+2P&display=swap');
html {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    height: 100%;
}

body {
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    overflow: auto;
}
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-half {
    width: 50%;
    height: 100%;
    background-color: black;
    color: #F8F3F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    max-height: 80%;
}

.right-half {
    width: 50%;
    height: 100%;
    background-color: #F8F3F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    text-align: center;
}

button {
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 15rem;
    padding: 1.25rem 0;
    margin: 0.5rem;
    font-size: 20px;
    background-color: (18, 12, 20);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 20px;

    box-shadow: 0 0 0 black;
    transition: all 0.2s;
  
}
.button1{
  background-color: #ffa7a6;

#button1 {
    background-color: #39b54a;
}
.button2{
  background-color: #ffdca6;
}.button3{
  background-color: #97d8a0;
}.button4{
  background-color: #78c8d8;
}.button5{
  background-color: #e4b0f4;
#button2 {
    background-color: #ffa7a6;
}
#button3 {
    background-color: #ffdca6;
}
#button4 {
    background-color: #e4b0f4;
}
#button5 {
    background-color: #78c8d8;
}
#button6 {
    background-color: #97d8a0;
}

.button-container a {
    text-decoration: none;
}

button:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}
button:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}
