.hero {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5%;
  box-sizing: border-box;
  background-color: #97d8a0;
  margin-bottom: 40px;
}
.hero > * {
  width: 66%;
}
.hero h1 {
  font-size: 3em;
}

h2 {
  margin-top: 0;
}

section.row {
  display: flex;
  margin: 20px auto;
  max-width: 800px;
  align-items: center;
  padding: 40px 20px;
  gap: 40px;
  background: linear-gradient(gray, gray) bottom no-repeat;
  background-size: 50% 1px;
}
section.row:last-child {
  background: none;
}
section.row button {
  all: unset;
  margin-bottom: 10px;
}
section.row button img {
  width: 40px;
}
section.row button img:hover {
  cursor: pointer;
}
section.row .preview {
  text-align: right;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
section.row .info {
  flex: 1;
}

#ytcontainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0 10px 10px;
  background: white;
  box-shadow: 0 0 10px gray;
  display: none;
}
#ytcontainer div {
  display: flex;
  line-height: 1;
}
#ytcontainer span#spacer {
  flex: 1;
}
#ytcontainer span#close {
padding: 10px 5px;
cursor: pointer;
}
