main {
  text-align: initial;
}

section.row {
  display: flex;
  margin: 4em 0;
}
section.row:nth-child(even) {
  flex-direction: row-reverse;
}
section.row:nth-child(even) div.info {
  text-align: right;
}

section.row > div {
  flex: 2;
}
section.row > div.preview {
  flex: 3;
}

section.row h2 {
  margin-bottom: 0;
}

div.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

div.preview img {
  width: 40%;
  max-width: 40%;
  max-height: initial;
  z-index: 2;
  box-shadow: 0px 0px 10px gray;
}

div.preview img:nth-child(2) {
  position: absolute;
  z-index: 1;
  transition: transform 0.3s ease;
  transform: scale(0.8) translateX(-40%) rotate(-15deg);
}
div.preview:hover img:nth-child(2) {
  transform: scale(0.8) translateX(-70%) rotate(-15deg);
}
div.preview img:nth-child(3) {
  position: absolute;
  z-index: 1;
  transition: transform 0.3s ease;
  transform: scale(0.8) translateX(40%) rotate(15deg);
}
div.preview:hover img:nth-child(3) {
  transform: scale(0.8) translateX(70%) rotate(15deg);
}

div.header {
  padding: 18px;
}

div.header h1 {
  margin-bottom: 0;
}

div.header {
  background-color: black;
  color: #F8F3F2;
  text-align: center;
}

div.info {
  display: flex;
  flex-direction: column;
}
div.info p {
  flex: 1;
}

a { 
  text-decoration: none;
}
button {
  font-family: 'Poppins', sans-serif;
  display: block;
  width: 10rem;
  height: 3rem;
  padding: 1.25rem 0;
  margin: 1rem;
  font-size: 15px;
  background-color: (18, 12, 20);
  color: #F8F3F2;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 15px;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  background-color: #78c8d8;
}

.button-container a {
  text-decoration: none;
}

button:hover {
box-shadow: 0.5rem 0.5rem 0 black;
transform: translate(-0.5rem, -0.5rem);
color:black;
}
button:active {
box-shadow: 0 0 0 black;
transform: translate(0, 0);
}