body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-half {
    width: 50%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    max-height: 80%;
}

.right-half {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    text-align: center;
}

button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 7px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 15px;
  
}
.button1{
  background-color: #39b54a;
}
.button2{
  background-color: #ffa7a6;
}.button3{
  background-color: #ffdca6;
}.button4{
  background-color: #e4b0f4;
}.button5{
  background-color: #78c8d8;
}
.button6{
  background-color: #97d8a0;
}