@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    min-height: 85vh;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}
h2 {
    color:black;
}
.footerheader {
    color: #F8F3F2;
}
header {
    color: #F8F3F2;
    background-color: black;
    text-align: center;
    padding: 10px;
}

nav {
    font-family: 'Poppins', sans-serif;
    background-color: #97d8a0;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
    line-height: 2;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color:#97d8a0;
    border-radius:5px;
}
nav a:hover {
    color: #F8F3F2;
    border-color:#F8F3F2;
}

main {
    padding: 20px;
    /* text-align: center; */
    min-height: 90%;
    background-color: #F8F3F2;
}

footer {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    background-color: black;
    padding: 20px 0;
    text-align: center;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-buttons a {
    display: inline-block;
    margin: 0 10px;
}

.social-buttons img {
    width: 40px; /* Adjust the width and height as needed */
    height: 40px;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
    background-color: #F8F3F2;
}

nav a:hover, .selectblink {
    animation: blink 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: none;
}
@keyframes blink {
    from {opacity:0};
    to {opacity:1};
}
#blink {
    animation: blink 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: none;
}

#box2 {
    display:inline-block;
    border-width: 1px;
    border-color: #F8F3F2;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }

#list {
    line-height: 0;
}

keyframes blink {
    from {opacity:0};
    to {opacity:1};
}
#blink {
    animation: blink 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: none;
}

#colorsquare1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color:#ffa7a6;
    width:30px;
    height:30px;
    color:#ffa7a6;
    margin: 20px 5px;
}
#colorsquare2 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color:#ffdca6;
    width:30px;
    height:30px;
    color:#ffdca6;
    margin: 20px 5px;
}
#colorsquare3 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color:#97d8a0;
    width:30px;
    height:30px;
    color:#97d8a0;
    margin: 20px 5px;
}
#colorsquare4 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color:#78c8d8;
    width:30px;
    height:30px;
    color:#78c8d8;
    margin: 20px 5px;
}
#colorsquare5 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color:#e4b0f4;
    width:30px;
    height:30px;
    color:#e4b0f4;
    margin: 20px 5px;
}