{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/glossary.css') }}">

<header>
  <h1>About</h1>
</header>

<main>
  <article class="definition-container">
    <h2>Who We Are</h2>
    <p>This website was created by UMD students who are members of the <a href="https://dcc.umd.edu/">Design Cultures and Creativity (DCC)</a> Honors College program to serve as a public archive of the XI class’s curriculum.</p>
  </article>

  <article class="definition-container">
    <h2>Curriculum Focus</h2>
    <p>hey</p>
  </article>

  <article class="definition-container">
    <h2>Acknowledgements</h2>
    <p>All icons used throughout this website are from <a href="https://icons8.com/" target="_blank">icons8</a>.</p>
  </article>
</main>
{% endblock %}