{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<header>
    <h1>Welcome to Design Cultures & Creativity</h1>
</header>
<nav>
    <ul>
        <li><a href="creative_workshops.html">Creative Workshops</a></li>
        <li><a href="polls.html">Polls</a></li>
        <li><a href="research_reports.html">Research Reports</a></li>
        <li><a href="podcast_interviews.html">Podcast Interviews</a></li>
        <li><a href="content.html">Content</a></li>
    </ul>
</nav>
<main>
    <p>This homepage is just a placeholderx</p>
  
</main>
<script src="script.js"></script>
<footer>
<div class="social-buttons">
    <a href="https://www.instagram.com" target="_blank">
        <img src="instagram-placeholder.png" alt="Instagram">
    </a>
    <a href="https://www.discordapp.com" target="_blank">
        <img src="discord-placeholder.png" alt="Discord">
    </a>
</div>
</footer>
{% endblock %}
