<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/"><button class="navbutton1">Home</button></a></li>
        <li><a href="/about"><button class="navbutton2">About</button></a></li>
        <li><a href="/research_papers"><button class="navbutton3">Research Reports</button></a></li>
        <li><a href="/workshop_projects"><button class="navbutton4">Creative Projects</button></a></li>
        <li><a href="/glossary"><button class="navbutton5">AI Glossary</button></a></li>
        <li><a href="/bestpractices"><button class="navbutton1">AI Best Practices</button></a></li>
        <li><a href="/resources"><button class="navbutton2">Resources</button></a></li>
        <li><a href="/syllabus"><button class="navbutton3">AI Course Syllabus</button></a></li>
        <li><a href="/polls"><button class="navbutton4">Polls</button></a></li>
      </ul>
    </nav>
    {% block body %}
    {% endblock %}
    <script src="script.js"></script>
    <footer class="social-buttons">
      <h2 class="footerheader">Social</h2>
      <a href="https://www.instagram.com" target="_blank">
        <img src="https://img.icons8.com/fluency/48/instagram-new.png" alt="Instagram">
      </a>
      <a href="https://www.discordapp.com" target="_blank">
        <img src="https://img.icons8.com/color/48/discord--v2.png" alt="Discord">
      </a>
    </footer>
  </body>
</html>
