<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/research_papers">Research Reports</a></li>
        <li><a href="/workshop_projects">Creative Projects</a></li>
        <li><a href="/glossary">AI Glossary</a></li>
        <li><a href="/bestpractices">AI Best Practices</a></li>
        <li><a href="/syllabus">AI Course Syllabus</a></li>
        <li><a href="/resources">Learning Resources</a></li>
        <li><a href="/podcasts">Podcast Interviews</a></li>
        <li><a href="/polls">Polls</a></li>
      </ul>
    </nav>
    {% block body %}
    {% endblock %}
    <footer class="social-buttons">
      <h2 class="footerheader">> Socials:</h2>
      <a href="mailto:umd.dcc@gmail.com">
        <img src="https://img.icons8.com/color/48/apple-mail.png" alt="Email">
      </a>
      </a>
      <a href="https://www.instagram.com/umd_dcc/" target="_blank">
        <img src="https://img.icons8.com/fluency/48/instagram-new.png" alt="Instagram">
      </a>
      <a href="https://x.com/umd_dcc/" target="_blank">
        <img src="https://img.icons8.com/color/48/twitterx--v1.png" alt="X, formerly Twitter">
      </a>
    </footer>
  </body>
</html>
