<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('bestpractices') }}">Best Practices</a></li>
        <li><a href="{{ url_for('research_papers') }}">Research Reports</a></li>
        <!-- <li><a href="creative_workshops.html">Creative Workshops</a></li>
        <li><a href="polls.html">Polls</a></li>
        <li><a href="podcast_interviews.html">Podcast Interviews</a></li>
        <li><a href="content.html">Content</a></li> -->
      </ul>
    </nav>
    {% block body %}
    {% endblock %}
    <script src="script.js"></script>
    <footer class="social-buttons">
      <a href="https://www.instagram.com" target="_blank">
        <img src="https://img.icons8.com/fluency/48/instagram-new.png" alt="Instagram">
      </a>
      <a href="https://www.discordapp.com" target="_blank">
        <img src="https://img.icons8.com/color/48/discord--v2.png" alt="Discord">
      </a>
    </footer>
  </body>
</html>