{% extends "layout.html" %}

{% block title %}Podcast Interviews{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/podcasts.css') }}">

<div class="hero">
  <h1>DCC Presents Cool Title Here.</h1>
  <p>
    Conversations with our very own UMD faculty on AI's role in fields from art to education.
  </p>
  <span>
    social links here
  </span>
</div>


{% for episode in episodes %}
<section class="row">
  <div class="info">
    <span>episode {{ loop.index }}:</span>
    <h2>{{ episode[0] }}</h2>
    <p>{{ episode[1]|safe }}</p>
  </div>
  <div class="preview">
    <p>
      youtube/spotify player here once it gets uploaded? something
    </p>
    <span>
      social links
    </span>
  </div>
</section>
{% endfor %}

{% endblock %}