{% extends "layout.html" %}

{% block title %}Podcast Interviews{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/podcasts.css') }}">

<div class="hero">
  <h1>DCC Presents Cool Title Here.</h1>
  <p>
    Conversations with our very own UMD faculty on AI's role in fields from art to education.
  </p>
  <span>
    social links here
  </span>
</div>

<div>
  {% for episode in episodes %}
  <section class="row">
    <div class="info">
      <span>episode {{ loop.index }}:</span>
      <h2>{{ episode[0] }}</h2>
      <p>{{ episode[1]|safe }}</p>
    </div>
    <div class="preview">
      <button data-youtube="{{ episode[2] }}">
        <img src="{{ url_for('static', filename='media/play-50.png') }}" alt="Play" />
      </button>
      <span>
        social links
      </span>
    </div>
  </section>
  {% endfor %}
</div>

<div id="ytcontainer">
  <div>
    <span id="spacer"> </span>
    <span id="close">
      X
    </span>
  </div>
  <iframe id="ytplayer" type="text/html" width="320" height="180" src="https://www.youtube.com/embed/M7lc1UVf-VE"
    frameborder="0"></iframe>
</div>

<script>
  document.querySelector("#close").addEventListener("click", e => {
    document.querySelector("#ytcontainer").style.display = "none";
  });
  document.querySelectorAll("div.preview button").forEach(button => {
    button.addEventListener("click", e => {
      document.querySelector("#ytplayer").src = `https://www.youtube.com/embed/${button.dataset.youtube}`;
      document.querySelector("#ytplayer").autoplay = 1;
      document.querySelector("#ytcontainer").style.display = "block";
    });
  });
</script>

{% endblock %}