{% extends "layout.html" %}

{% block title %}Podcast Interviews{% endblock %}

{% block body %}
<header>
  <h1>Podcast Interviews</h1>
  <div id = "box2">
    <p>Our podcast series of interviews with 11 experts from the University of Maryland!</p>
  </div>
</header>

<main style="text-align: center">
  <h2>Interviews are currently still being conducted and are not yet available at this time.</h2>
  <p>Please check back another time to listen! Interviews will be published once they are completed.</p>
</main>
{% endblock %}