{% extends "layout.html" %}

{% block title %}Polls{% endblock %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls Page</title>
    <style>
        .poll-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
        }
        .option {
            margin-bottom: 10px;
        }
        .submitbutton {
            background-color: #78c8d8;
        }
    </style>
</head>
<header>
    <h1>> POLLS PAGE <span id="blink">|</span></h6></h1>
    <p><span id="colorsquare1">.</span><span id="colorsquare2">.</span><span id="colorsquare3">.</span><span id="colorsquare4">.</span><span id="colorsquare5">.</span></p>
  </header>
<main>
    <iframe name="opinionstage-widget"
        src="https://www.opinionstage.com/api/v2/widgets/60a08f14-aeac-409e-9ae9-58edc91eb7e1/iframe"
        data-opinionstage-iframe="60a08f14-aeac-409e-9ae9-58edc91eb7e1" width="25%" height="800" scrolling="auto"
        style="border: none;" frameBorder="0" allow="fullscreen" webkitallowfullscreen="true" mozallowfullscreen="true"
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <iframe name="opinionstage-widget"
        src="https://www.opinionstage.com/api/v2/widgets/d198460c-52b8-4e7f-b3cd-966a05e937d0/iframe"
        data-opinionstage-iframe="d198460c-52b8-4e7f-b3cd-966a05e937d0" width="25%" height="800" scrolling="auto"
        style="border: none;" frameBorder="0" allow="fullscreen" webkitallowfullscreen="true" mozallowfullscreen="true"
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <iframe name="opinionstage-widget"
        src="https://www.opinionstage.com/api/v2/widgets/f4dcffff-166d-4d8e-b4ab-0d907e261bcd/iframe"
        data-opinionstage-iframe="f4dcffff-166d-4d8e-b4ab-0d907e261bcd" width="48%" height="800" scrolling="auto"
        style="border: none;" frameBorder="0" allow="fullscreen" webkitallowfullscreen="true" mozallowfullscreen="true"
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <script>
        function submitVote() {
            var selectedOption = document.querySelector('input[name="color"]:checked');
            if (selectedOption) {
                alert('You voted for ' + selectedOption.labels[0].innerText);
                // Here you can send the vote data to the server using AJAX if needed
            } else {
                alert('Please select an option before submitting your vote.');
            }
        }
    </script>
</main>
{% endblock %}