{% extends "layout.html" %}

{% block title %}HDCC105 AI Research Papers{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/research_papers.css') }}">

<header>
  <h1>> AI RESEARCH PAPERS <span id="blink">|</span></h6></h1>
  <div id = "box2">
    <p>Teams of 6-8 students thoroughly researched a generative AI-related topic, created a 5-page report, and presented for 15-20 minutes in class. The goals were to improve understanding of generative AI, prepare for interviews with UMD experts, and start creating content for the Creative Workshop. The main objective was to identify excellent resources and compile a comprehensive repository of facts, perspectives, and arguments on generative AI. The research output also contributed to the collaboratively authored Glossary of Generative AI.</p>
  </div>
</header>

<main>
  {% for paper in papers %}
    <section class="row">
      <div class="preview">
        <img src="{{ url_for('static', filename='media/research_papers/' + paper[0] + '.png') }}" />
        <img src="{{ url_for('static', filename='media/research_papers/' + paper[0] + '-1.png') }}" />
        <img src="{{ url_for('static', filename='media/research_papers/' + paper[0] + '-2.png') }}" />
      </div>
      <div class="info">
        <h2>{{ paper[1] }}</h2>
        <i>{{ paper[2] }}</i>
        <p>
          {{ paper[3] }}
        </p>
        <a href="{{ paper[4] }}">→ click here to read in full</a>
      </div>
    </section>
  {% endfor %}
</main>
{% endblock %}
