{% extends "layout.html" %}

{% block title %}Learning Resources{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/resources.css') }}">

<header>
  <h1>> LEARNING RESOURCES <span id="blink">|</span></h6></h1>
  <div id="box2">
    <p>A collection of resources to help further your journey in understanding AI.</p>
  </div>
</header>

<div class="container">
  <main>
    {% for i in range(resources_content|length) %}
    {% set resrc = resources_content[i] %}
    <section class="resource-section" id="resrc{{ i }}">
      <!-- image (left) -->
      <article class="image">
        {% set curr_type = resrc['Platform/Media Type'] %}
        <img src="{{ images[curr_type] }}" alt="{{ curr_type }} Icon" width="225rem" height="225rem">
      </article>
      <!-- info (right) -->
      <article>
        <h3>{{ resrc['Title'] }}</h3>
        <p><b>Author(s):</b> {{ resrc['Author(s)'] }}</p>
        <p><b>Description:</b> {{ resrc['Description'] }}</p>
        <p><b>Platform/media type:</b> {{ resrc['Platform/Media Type'] }}</p>
        <p><b>Topic:</b> {{ resrc['Topic'] }}</p>
      </article>
    </section>
    {% endfor %}
  </main>

  <aside>
    <h2>Filters</h2>
    <!-- filter by media type -->
    <section id="media-types">
      <p>Platform/media type</p>
      {% for i in range(media_types|length) %}
        <input type="checkbox" id="media{{ i }}" name="media{{ i }}" value="{{ media_types[i] }}">
        <label for="media{{ i }}">{{ media_types[i] }}</label>
        <br>
      {% endfor %}
    </section>
    <!-- filter by topic -->
    <section id="topics">
      <p>Topic</p>
      {% for i in range(topics|length) %}
        <input type="checkbox" id="topic{{ i }}" name="topic{{ i }}" value="{{ topics[i] }}">
        <label for="topic{{ i }}">{{ topics[i] }}</label>
        <br>
      {% endfor %}
    </section>
    <button type="submit" onclick="applyFilters()">Apply filters</button>
  </aside>
</div>

<script src="{{ url_for('static', filename='scripts/resources.js') }}"></script>
{% endblock %}
