{% extends "layout.html" %}

{% block title %}AI Course Syllabus{% endblock %}

{% block body %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/syllabus.css') }}">
</head>

<header>
  <h1>> AI COURSE SYLLABUS <span id="blink">|</span></h6></h1>
  <p><span id="colorsquare1">.</span><span id="colorsquare2">.</span><span id="colorsquare3">.</span><span id="colorsquare4">.</span><span id="colorsquare5">.</span></p>
  <div id = "box2">
    <p>A sample syllabus for educators planning courses in AI.</p>
  </div>
</header>

<main>
  <div class="course-desc">
    <h2>GNRA312: Generative AI for Thinkers and Makers</h2>
    <p>Course Syllabus</p>
    <p>Tu/Thu: 11:00AM-12:15PM
      3 credits
    </p>
  </div>
  <div class="definition-container">
    <h2>I. Course Description:</h2>
    <p>Generative Artificial Intelligence (AI) has rapidly become a captivating field that influences numerous aspects of our lives, from art and entertainment to healthcare and technology. Throughout this course, participants will explore the fascinating world of generative AI, learning about its underlying principles, applications, and ethical considerations. No prior knowledge of programming or AI is required, as the course is designed to be accessible and engaging for the general public.</p>
  </div>

  <div class="definition-container">
    <h2>II. Course Syllabus:</h2>
    <table>
      <tr>
        <th>Date</th>
        <th>Objectives</th>
        <th>Readings</th>
      </tr>
      <tr>
        <td>Week 1</td>
        <td>What is Generative AI? In week 1, we will define the term “Generative AI”, dive into its core concepts,  and explore its extensive history.</td>
        <td><em>Artificial Intelligence: A Guide for Thinking Humans</em> by Melanie Mitchell</td>
      </tr>
      <tr>
        <td>Week 2</td>
        <td>How Does Generative AI Work? In week 2, we will explain the processes behind Generative AI.</td>
        <td>"Attention is All You Need" by Ashish Vaswani et al.</td>
      </tr>
      <tr>
        <td>Week 3</td>
        <td>Models of Generative AI. In week 3, we will analyze the different types of models of Generative AI.</td>
        <td><em>Speech and Language Processing</em> by Dan Jurafsky & James H. Martin.</td>
      </tr>
      <tr>
        <td>Week 4</td>
        <td>Evaluating Generative AI Models. In week 4, we will break down what makes a successful Generative AI model.</td>
        <td>"A Few Useful Things to Know About Machine Learning" by Pedro Domingos</td>
      </tr>
      <tr>
        <td>Week 5</td>
        <td>Applications of Generative AI. In week 5, we will explain the importance of Generative AI, its case uses, and possibilities.</td>
        <td>"Playing Atari with Deep Reinforcement Learning" by Volodymyr Mnih et al.</td>
      </tr>
      <tr>
        <td>Week 6</td>
        <td>What are the Benefits of Generative AI? In week 6, we will analyze the value and need for Generative AI.</td>
        <td><a target ="_blank" href = "https://www.harvardonline.harvard.edu/blog/benefits-limitations-generative-ai">The Benefits and Limitations of Generative AI: Harvard Experts Answer Your Questions</a></td>
      </tr>
      <tr>
        <td>Week 7</td>
        <td>Generative AI Tools. We will define the different types of tools of Generative AI, such as text, image, music, code, voice, etc., and their uses.</td>
        <td><em>Rise of Generative AI and ChatGPT: Understand how Generative AI and ChatGPT are transforming and reshaping the business world</em> by Soumyadeep Roy, Sumit Kumar, and Utpal Chakraborty</td>
      </tr>
      <tr>
        <td>Week 8</td>
        <td>Bias & Discrimination in Generative AI. In week 8, we will explore the different types of bias and discrimination in AI and ways to mitigate them.</td>
        <td><em>Human Compatible: Artificial Intelligence and the Problem of Control</em> by Stuart Russell</td>
      </tr>
      <tr>
        <td>Week 9</td>
        <td>Ethics & Values Alignment in Generative AI. In week 9, we will discuss the laws and responsibilities behind Generative AI and its consequences on society.</td>
        <td><em>Life 3.0: Being Human in the Age of Artificial Intelligence</em> by Max Tegmark</td>
      </tr>
      <tr>
        <td>Week 10</td>
        <td>Privacy & Security in Generative AI. In week 10, we will explore the AI Bill of Rights, cyber risks, and data privacy of AI.</td>
        <td>"The Malicious Use of Artificial Intelligence: Forecasting, Prevention, and Mitigation" by Brundage, et al.</td>
      </tr>
      <tr>
        <td>Week 11</td>
        <td>Aesthetics & Creativity in Generative AI. In week 11, we will explore how Generative AI impacts artists, musicians, and makers, and discuss human vs AI creativity.</td>
        <td><em>The Creativity Code: Art and Innovation in the Age of AI by Marcus du Sautoy</em></td>
      </tr>
      <tr>
        <td>Week 12</td>
        <td>Emotion & Sentiment in Generative AI. In week 12, we will ponder the question, “Is AI capable of emotion?”</td>
        <td><em>Killing Sophia: Consciousness, Empathy, and Reason in the Age of Intelligent Robots by Thomas Telving</em></td>
      </tr>
      <tr>
        <td>Week 13</td>
        <td>Datasets in Generative AI. In week 13, we will discuss how datasets are created and the ethics and reliability behind those datasets.</td>
        <td><a href="https://link.springer.com/article/10.1007/s00778-022-00775-9" target="_blank">“Data collection and quality challenges in deep learning: a data-centric AI perspective”</a></td>
      </tr>
      <tr>
        <td>Week 14</td>
        <td>Ecology and Generative AI. In week 14, we will explain how AI can aid sustainability.</td>
        <td><em>Our Planet Powered by AI: How We Use Artificial Intelligence to Create a Sustainable Future for Humanity</em> by Mark D. Minevich</td>
      </tr>
      <tr>
        <td>Week 15</td>
        <td>Education and Generative AI. In week 15, we will discuss the impacts of Generative AI on school systems and educators.</td>
        <td><a href="https://www.forbes.com/sites/bernardmarr/2021/02/15/how-ai-is-transforming-education/?sh=5ff59b5e6421" target="_blank">"How AI is Transforming Education"</a></td>
      </tr>
      <tr>
        <td>Week 16</td>
        <td>Future Prospects of Generative AI. What’s the future of Generative AI? How far can we go?</td>
        <td>"Artificial Intelligence — The Revolution Hasn’t Happened Yet" by Michael Jordan</td>
      </tr>
    </table>
  </div>
</main>
{% endblock %}