{% extends "layout.html" %}

{% block title %}AI Course Syllabus{% endblock %}

{% block body %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/syllabus.css') }}">
</head>

<header>
  <h1>AI Course Syllabus</h1>
  <div id = "box2">
    <p>A sample syllabus for educators planning courses in AI.</p>
  </div>
</header>

<main>
  <div class="course-desc">
    <h2>GNRA312: Generative AI for Thinkers and Makers</h2>
    <p>Course Syllabus</p>
    <p>Tu/Thu: 11:00AM-12:15PM
      3 credits
    </p>
  </div>
  <div class="definition-container">
    <h2>I. Course Description:</h2>
    <p>Generative Artificial Intelligence (AI) has rapidly become a captivating field that influences numerous aspects of our lives, from art and entertainment to healthcare and technology. Throughout this course, participants will explore the fascinating world of generative AI, learning about its underlying principles, applications, and ethical considerations. No prior knowledge of programming or AI is required, as the course is designed to be accessible and engaging for the general public.</p>
  </div>

  <div class="definition-container">
    <h2>II. Course Objectives:</h2>
    <p></p>
  </div>

  <table>
    <tr>
      <th>Date</th>
      <th>Objectives</th>
      <th>Readings</th>
    </tr>
    <tr>
      <td>Week 1</td>
      <td>What is Generative AI? In week 1, we will define the term “Generative AI”, dive into its core concepts,  and explore its extensive history.</td>
      <td>Reading 1</td>
    </tr>
    <tr>
      <td>Week 2</td>
      <td>How Does Generative AI Work? In week 2, we will explain the processes behind Generative AI.</td>
      <td>Reading 2</td>
    </tr>
    <tr>
      <td>Week 3</td>
      <td>Models of Generative AI. In week 3, we will analyze the different types of models of Generative AI.</td>
      <td>Reading 3</td>
    </tr>
    <tr>
      <td>Week 4</td>
      <td>Evaluating Generative AI Models. In week 4, we will break down what makes a successful Generative AI model.</td>
      <td>Reading 4</td>
    </tr>
    <tr>
      <td>Week 5</td>
      <td>EApplications of Generative AI. In week 5, we will explain the importance of Generative AI, its case uses, and possibilities.</td>
      <td>Reading 5</td>
    </tr>
    <tr>
      <td>Week 6</td>
      <td>What are the Benefits of Generative AI? In week 6, we will analyze the value and need for Generative AI.</td>
      <td>Reading 6</td>
    </tr>
    <tr>
      <td>Week 7</td>
      <td>Generative AI Tools. We will define the different types of tools of Generative AI, such as text, image, music, code, voice, etc., and their uses.</td>
      <td>Reading 7</td>
    </tr>
    <tr>
      <td>Week 8</td>
      <td>Bias & Discrimination in Generative AI. In week 8, we will explore the different types of bias and discrimination in AI and ways to mitigate them.</td>
      <td>Reading 8</td>
    </tr>
    <tr>
      <td>Week 9</td>
      <td>Ethics & Values Alignment in Generative AI. In week 9, we will discuss the laws and responsibilities behind Generative AI and its consequences on society.</td>
      <td>Reading 9</td>
    </tr>
    <tr>
      <td>Week 10</td>
      <td>WPrivacy & Security in Generative AI. In week 10, we will explore the AI Bill of Rights, cyber risks, and data privacy of AI.</td>
      <td>Reading 10</td>
    </tr>
    <tr>
      <td>Week 11</td>
      <td>Aesthetics & Creativity in Generative AI. In week 11, we will explore how Generative AI impacts artists, musicians, and makers, and discuss human vs AI creativity.</td>
      <td>Reading 11</td>
    </tr>
    <tr>
      <td>Week 12</td>
      <td>Emotion & Sentiment in Generative AI. In week 12, we will ponder the question, “Is AI capable of emotion?”</td>
      <td>Reading 12</td>
    </tr>
    <tr>
      <td>Week 13</td>
      <td>Datasets in Generative AI. In week 13, we will discuss how datasets are created and the ethics and reliability behind those datasets.</td>
      <td>Reading 13</td>
    </tr>
    <tr>
      <td>Week 14</td>
      <td>Ecology and Generative AI. In week 14, we will explain how AI can aid sustainability.</td>
      <td>Reading 14</td>
    </tr>
    <tr>
      <td>Week 15</td>
      <td>Education and Generative AI. In week 15, we will discuss the impacts of Generative AI on school systems and educators.</td>
      <td>Reading 15</td>
    </tr>
    <tr>
      <td>Week 16</td>
      <td>Future Prospects of Generative AI. What’s the future of Generative AI? How far can we go?</td>
      <td>Reading 16</td>
    </tr>
  </table>

</main>
{% endblock %}